.cfg
.config/cray/tokens
Library
.CFUserTextEncoding
.DS_Store
.lesshst
.local/
.viminfo
.zcompdump-freedman-5.9
.zcompdump-freedman-5.9.zwc
.zprofile
.zsh_history
Applications/
Brewfile.lock.json
Desktop/
Documents/
Downloads/
Movies/
Music/
Pictures/
Public/
.config/iterm2/
.oh-my-zsh/
.ssh/
